/**
 * 	JC POGI
 */

@import url('bootstrap.min.css');


h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	color: #0064a2;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

p {
	margin-top:10px;
	margin-bottom: 10px;
	padding: 0px;
}

body, html {
	margin: 0px;
	color: #171717;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

header {
	position: fixed;
	top: 0px;
	background: #fff;
	width: 100%;
	z-index: 1000;
	-webkit-box-shadow: inset 0px 13px 13px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 13px 13px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 13px 13px 0px rgba(0,0,0,0.25);
	overflow: hidden;
}

header div.top {
	width: 100%;
}

header img.logo {
	margin-top: 15px;
}

header nav.navigation {
	text-align: center;
}

header nav.navigation ul { ;
	padding: 0px;
	height: 100px;
	margin: 0 auto;
	display: inline-block;
}

header nav.navigation ul li {
	float: left;
	list-style-type: none;
	height: 100px;
	vertical-align: middle;
	line-height: 100px;
}

header nav.navigation ul li a {
	color: #085b9d;
	text-transform: uppercase;
	padding: 0px 22px;
}

.hero {
	background: url('../images/herobg.jpg') no-repeat;
	background-size: cover;
	margin-top: 100px;
}

.hero-wrapper {
	margin-top: 140px;
}

.hero h1 {
	position: relative;
	top: 50%;
	color: #0064a2;
	font-size: 40px;
	margin: 0px;
	font-weight: 800;
}

.hero p {
	font-size: 18px;
	color: #343b41;
}

.customers {
	background: url('../images/customersbg.jpg') no-repeat;
	background-size: cover;
	
	overflow: hidden;
}

.customers h1 {
	margin: 0px;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
}

.customers h2 {
	text-align: center;
	color: #fff;
	font-size: 28px;
}

.customers p {
	color: #fff;
	font-size: 12px;
	text-align: justify;
}

.customers img {
	width: 100px;
}

.customer {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.reviews {
	background: #c7ced4;
	font-size: 16px;
	height: 150px;
}

.process {
	text-align: center;
	color: #0064a2;
}

.process h1 {
	margin-bottom: 20px;
}

.process h2, .process p {
	color: #171717;
	text-align: left;
}

.slider {
	height: 368px;
	background: url('../images/sliderbg.jpg') no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 13px 13px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 13px 13px 0px rgba(0,0,0,0.25);
	box-shadow: inset 0px 13px 13px 0px rgba(0,0,0,0.25);
}

.bottom {
	background: url('../images/botbg.jpg') no-repeat;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.bottom h2 {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	font-size: 32px;
	text-align: center;
}

.feed {
	text-align: center;
}

.feed h1 {
	color: #065ca5;
	text-transform: uppercase;
	font-size: 34px;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 15px;

	-webkit-box-shadow: inset 0px -5px 7px -5px rgba(125,213,198,1);
	-moz-box-shadow: inset 0px -5px 7px -5px rgba(125,213,198,1);
	box-shadow: inset 0px -5px 7px -5px rgba(125,213,198,1);
}

.feed h2 {
	color: #065ca5;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.feed p {
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}

.feed p a {
	color: #b65037;
	font-weight: bold;
}

footer {
	background: #121013;
	min-height: 120px;
	color: #fff;
	margin-top: 20px;
	padding-top: 40px;
}

footer label {
	font-size: 18px;
	font-weight: 600;
}

footer ul {
	margin: 0px;
	padding-left: 10px;
}

footer li {
	list-style-type: none;
}

footer li a {
	color: #fff;
	font-size: 14px;
}

footer div.title {
	font-size: 24px;
	margin-bottom: 20px;
}

span.thin {
	font-weight: 300;
}


.btn {
	background: #b15945;
	padding: 20px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	border-bottom: 5px #ae4339 solid;
}

.btn span {
	text-transform: uppercase;
	display: block;
	font-weight: bold;
}

.btn:hover {
	text-decoration: none;
	color: #fff;
}

.middle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.big {
	font-size: 18px;
}

.big span {
	font-size: 22px;
}

.small {
	padding: 8px 15px;
}

.small span {
	font-size: 10px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.panel {
	padding-top: 40px;
	padding-bottom: 40px;
}

.articles h1 {
	color: #065ca5;
	text-align: left;
}

.articles figure img {
	width: 270px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 3px solid #0a599b;
	margin-left: auto;
	margin-right: auto;
}

article {
	padding-bottom: 20px;
	padding-top: 20px;
}

.pagination ul {
	text-align: right;
	margin: 0px;
}

.pagination ul li {
	list-style-type: none;
	float: left;
}

.pagination ul a {
	background: #b15945;
	padding: 10px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	border-bottom: 5px #ae4339 solid;
}

.pagination ul a.active {
	background: #ad423c;
	border-bottom: 5px #973b30 solid;
}


@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	.articles figure img {
		width: 270px;
	}
}


@media (min-width: 1200px) {
	.articles figure img {
		width: 270px;
	}
}


@media (max-width: 767px) {
	.articles figure img {
		width: 270px;
	}
}

.pricing {
	margin-top: 100px;
}

.pricing h1 {
	font-weight: 800;
	font-size: 38px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.pricing p {
	font-size: 22px;
}

.pricing table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table.calculator {
	border: 2px solid #0d5b9b;
}

table.calculator thead {
	background: #085ba1;
}

table.calculator thead th {
	font-size: 26px;
	color: #fff;
	padding: 20px;
}

table.calculator td:first-child {
	color: #0b5a9c;
}

table.calculator td {
	padding: 10px;
}

table.calculator td:first-child {
	font-size: 20px;
	font-weight: 600;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

table.calculator td:last-child {
	font-size: 20px;
	font-weight: 300;
}

table.calculator .btn {
	font-weight: 600;
	margin: 20px;
}


table.rate {
	width: 100%;
	font-size: 16px;
}


table.rate thead th {
	font-size: 32px;
}

table.rate td {
	padding: 20px 20px;
}

table.rate .btn {
	font-weight: 600;
	margin: 20px;
	font-size: 20px;
}

figure img {
	width: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px #055da7 solid;
}

.contact {
	background: url('../images/herobg.jpg') no-repeat;
	background-size: cover;
}

.contact .section {
	margin-top: 100px;
	background: #e9e9e9;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);

	padding: 30px;
}

.contact input, .contact textarea {
	border: 1px solid #0064a2;
	padding: 8px 10px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
}

.contact label {
	line-height: 36px;
	color: #0064a2;
	font-weight: 600;
	font-size: 16px;

}

.numbers label {
	color: #0064a2;
	font-size: 16px;
	font-weight: 600;
}

.numbers ul {
	margin: 10px 0px;
	padding: 0px;
}

.numbers ul li {
	margin-top: 5px;
	list-style-type: none;
}